body {
  min-width: 300px;
  min-height: 300px;
  padding-bottom: 15px;
  text-align: center;
  font-size: medium;
}

input[type=checkbox] {
  margin-right: 5px;
}

#checkbox-div {
  text-align: left;
}

#button-div {
  margin-top: 5px;
  text-align: center;
}

label {
  margin-bottom: 5px;
}
