@import "tailwindcss";

@theme { /* for custom tailwind values */
  --spacing: 1px; 
}

@plugin "daisyui" {
  themes: corporate --default;
  exclude: rootscrollgutter;
}

.settingHeader {
  @apply text-base p-5 font-bold;
}

#root {
  @apply p-15 max-h-500 min-w-350 max-w-350 select-none overflow-y-auto;
  white-space: pre-wrap;
}

.section {
  @apply pb-5;
}

body {
  @apply text-center;
}

a {
  @apply text-blue-500;
}