/* bars in inbox */
#Atom .A_6EqO.c1AVi73_6FsP.e_eo6.H_qJ.Y_e8l.X_0.o_h.ab_C.p_R.D_ZKxLmw.v_g9505.I_T.cdPFi_ZkbNhI.k_w.cg_n.I4_1YEmYj.C_ZpQYvz.bn_dBP.bm_FJ.bj_a0xJ8 {
    display: none !important;
}

/* side ads */
.D_F.em_N.ek_BB.iz_A.iy_h.a_3vpWV.H_6D6F {
    display: none !important;
}

/* ad whenever in empty folder eg starred */
iframe[name="gpt-iframe"] {
    display: none !important;
}